
.label
{
    -fx-text-fill: #FFFFFF;
}
.time-label
{
    -fx-font-size: 4em;
}
.date-label
{
    -fx-font-size: 1.5em;
}
.pane
{
    -fx-background-color: linear-gradient(#3A9C97, #30615C);
    -fx-background-image: url("/bg1.jpg");
    -fx-background-size: cover;
}
.system-detail-label
{
    -fx-font-size: 1.2em;
}
.rss-item
{
}

.low-battery
{
    -fx-accent: red; 
}
